@CHARSET "utf-8";

.direita {
	float: right;
	top: 0px;
	margin-top: -65px;
}

[data-notify="progressbar"] {
	margin-bottom: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 5px;
}

#regrasTratadas {
	background-color: #EED;
	padding: 5px;
	border-style: outset;
}

#grupos {
	display: table-cell;
	margin: 5px;
}

#grupos input {
	width: auto;
}
#grupos button {
	width: auto;
}

.tableItem:hover {
	background-color: #eee;
}

#participantesGrupo {
	display: table-cell;
}

.participante {
	background-color: #AAF;
	border-radius: 8px;
	padding: 6px;
	margin: 3px;
	display: inline-block;
}
.clicavel {
	cursor: pointer;
}

.tableItem {
	cursor: pointer;
}

.shortTable {
	height: 200px;
	min-width: 200px;
	overflow: auto;
	scroll-behavior: smooth;
	display: block;
}

#repos {
	display: table-cell;
}

#repoPastas {
	display: table-cell;
}

#permissoes {
	display: table-cell;
}

#permissoes .participante {
	display: table-cell;
	cursor: pointer;
}